<br/>
<br/>
<br/>
<br/>

<ul class="nav nav-tabs">
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/soup']">Soup</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/dimsum']">Dimsum</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/starters']">Starters</a>
    </li>
    <li routerLinkActive="nav-item active">
            <a class="nav-link" [routerLink]="['/menu/grill']">Grill</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/mains-curries']">Mains & Curries</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/sides']">Sides</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/combo-meal']">Combo Meal</a>
    </li>
</ul>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Garlic grilled paneer - Cottage cheese marinated with peri peri sauc , served with onion and bellpeppers</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 295</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Chicken satay with peanut dip</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 345</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Grilled chicken garlic coriander  - boneless chicken infused with garlic and coriander sauce , served with grilled vegetables</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 425</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Seven spiced grilled chicken - Half/Full- Solanas's version of spicy grilled chicken served wih mint chutney , curd infused onion</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 495</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div> 
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Grilled fish with butter garlic sauce - served with sauteed vegetables</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 475</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
