<br/>
<br/>
<br/>
<br/>
<ul class="nav nav-tabs">
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/soup']">Soup</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/dimsum']">Dimsum</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/starters']">Starters</a>
    </li>
    <li routerLinkActive="nav-item active">
            <a class="nav-link" [routerLink]="['/menu/grill']">Grill</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/mains-curries']">Mains & Curries</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/sides']">Sides</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/combo-meanl']">Combo Meal</a>
    </li>
</ul>
    