<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><img src="./assets/images/Logo6.PNG" width="180" height="60"/></a>  
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li routerLinkActive="nav-item active" [routerLinkActiveOptions]="{exact: true}">
        <a (click)="isCollapsed = !isCollapsed" class="nav-link" routerLink="/">Home</a>
      </li>
      <li routerLinkActive="nav-item active">
        <a (click)="isCollapsed = !isCollapsed" class="nav-link" [routerLink]="['/menu/soup']">Menu</a>
      </li>
      <!-- <li routerLinkActive="nav-item active">
        <a (click)="isCollapsed = !isCollapsed" class="nav-link" routerLink="/contactus">Contact us</a>
      </li> -->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>