<br/>
<br/>
<br/>
<br/>

<ul class="nav nav-tabs">
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/soup']">Soup</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/dimsum']">Dimsum</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/starters']">Starters</a>
    </li>
    <li routerLinkActive="nav-item active">
            <a class="nav-link" [routerLink]="['/menu/grill']">Grill</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/mains-curries']">Mains & Curries</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/sides']">Sides</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/combo-meal']">Combo Meal</a>
    </li>
</ul>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Veg Dumpling </h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 145</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Chicken Dumpling</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 175</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Veg Sui Mai</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 165</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Chicken Sui Mai</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 195</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div> 
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Wok tossed vegetable dumlping szechwan sauce</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 165</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Spicy Crystal Chicken</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 225</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div> 
<br/>
<br/>
<br/>
