<br/>
<br/>
<br/>

<div class="card">
    <img src="../assets/images/Restaurant Branding5.png" alt="Background" class="img-fluid">
</div>
<br/>
<div class="container">
<h1 class="jumbotron-heading center text-center">About Us</h1>
<p class="lead text-center">
    Solanas Wok & Grill is a Chinese and Thai restaurant in the nest of HongKong Bazaar, Sector 57, Gurugram. 
    Solanas Wok & Grill offers mouth watering delicious food in most competitive prices. Best Dimsums, Thai Curries and many more...
</p>
</div>
<div class="container">
    <h1 class="text-center">Featured Menu</h1>
</div>
<div class="card text-center">
<img src="../assets/images/Veg Hakka Noodles.JPG" alt="Veg Hakka Noodles" class="img-fluid">
<div class="card-body">
    <h5 class="card-title">Veg Hakka Noodles</h5>
    <div class="row">
        <div class="col">
            <h5 class="card-title"><i class="fa fa-rupee"></i> 175</h5>    
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary">Add to basket</button>
        </div>
    </div>
</div>
</div>
<div class="card text-center">
<img src="../assets/images/Assorted Veg Basket 12 pcs.JPG" alt="Assorted Veg Basket" class="img-fluid">
<div class="card-body">
    <h5 class="card-title">Assorted Veg Basket</h5>
    <div class="row">
        <div class="col">
            <h5 class="card-title"><i class="fa fa-rupee"></i> 345</h5>    
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary">Add to basket</button>
        </div>
    </div>
</div>
</div>
<div class="card text-center">
<img src="../assets/images/Crispy Prawns Thai Herbs.JPG" alt="Crispy Prawns" class="img-fluid">
<div class="card-body">
    <h5 class="card-title">Crispy Prawns</h5>
    <div class="row">
        <div class="col">
            <h5 class="card-title"><i class="fa fa-rupee"></i> 595</h5>    
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary">Add to basket</button>
        </div>
    </div>
</div>
</div>
<div class="card text-center">
<img src="../assets/images/Thai Chicken Red Curry.JPG" alt="Thai Chicken Red Curry" class="img-fluid">
<div class="card-body">
    <h5 class="card-title">Thai Chicken Red Curry</h5>
    <div class="row">
        <div class="col">
            <h5 class="card-title"><i class="fa fa-rupee"></i> 395</h5>    
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary">Add to basket</button>
        </div>
    </div>
</div>
</div>
<div class="card text-center">
<img src="../assets/images/Non Veg Combo Meal.JPG" alt="Non Veg Combo Meal" class="img-fluid">
<div class="card-body">
    <h5 class="card-title">Non Veg Combo Meal</h5>
    <div class="row">
        <div class="col">
            <h5 class="card-title"><i class="fa fa-rupee"></i> 325</h5>    
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary">Add to basket</button>
        </div>
    </div>
</div>
</div>
<div class="card text-center">
<img src="../assets/images/Hot & Sour Soup.JPG" alt="Hot & Sour Soup" class="img-fluid">
<div class="card-body">
    <h5 class="card-title">Hot & Sour Soup</h5>
    <div class="row">
        <div class="col">
            <h5 class="card-title"><i class="fa fa-rupee"></i> 165</h5>    
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary">Add to basket</button>
        </div>
    </div>
</div>
</div>
<br/>
<div class="container">
<div class="row">
    <div class="col text-center">
    <button class="btn btn-dark col text-center nav-link" [routerLink]="['/menu/soup']">Full Menu</button>
    </div>
</div>
</div>
<br/>
<br/>
<br/>
