<br/>
<br/>
<br/>
<br/>
<ul class="nav nav-tabs">
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/soup']">Soup</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/dimsum']">Dimsum</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/starters']">Starters</a>
    </li>
    <li routerLinkActive="nav-item active">
            <a class="nav-link" [routerLink]="['/menu/grill']">Grills</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/mains-curries']">Mains & Curries</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/sides']">Sides</a>
    </li>
    <li routerLinkActive="nav-item active">
        <a class="nav-link" [routerLink]="['/menu/combo-meal']">Combo Meal</a>
    </li>
</ul>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Hot & Sour Veg</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 145</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Hot & Sour Chicken</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 165</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Traditional Manchow Veg</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 145</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Traditional Manchow Chicken</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 165</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div> 
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Sweet Corn Veg</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 145</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Sweet Corn Chicken</h5>
        <div class="row">
            <div class="col">
                <h5 class="card-title"><i class="fa fa-rupee"></i> 165</h5>    
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary">Add to basket</button>
            </div>
        </div>
    </div>
</div> 
<br/>
<br/>
<br/>
